<div id="resbox"></div>
<form id="chatbot2">
  <div class="form-group">
    <input type="text" id="txtbox" class="form-control" autocomplete="off"></input>
    <input type="submit" id="text-submit" class="1-1 form-control input-sm progress"></input>
  </div>
</form>
