<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <%#= title of website %>
    <title>Brodie's Website Incorporated</title>

    <%#= load Bootstrap css file %>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">

  </head>
  <body>
    <div id="audio"></div>
    <%#= place all contents inside container (for Bootstrap formatting) %>
    <div class="container">
    <%#= yield will render the Ruby code! %>
         <%= yield %>

    </div>
    <%#= load Bootstrap javasript file %>
    <script src="jquery-2.2.3.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="speakClient.js"></script>
    <script src="speakGenerator.js"></script>
    <script src="speakWorker.js"></script>
    <script src="chatbot.js"></script>
  </body>
</html>

<%#= this html layout will be applied to all pages %>
<%#= page specific content is rendered via the 'yield' tag %>
