pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#text-submit {
  visibility: hidden;
}

body {
  color: green;
  background-color: black;
}

form input[type=text] {
  color: green;
  border-color: green;
  background-color: black;
}
form input[type=text]:focus {
  border-color: green;
  background-color: black;
}

hr {
  border-color: green;
}

audio {
  visibility: hidden;
}

img {
 width: 200px;
}
